<nav aria-label="Navigation">
  <a href="{{ .Site.BaseURL }}" class="project">
    <div class="banner">
      {{ with .Site.Params.logo }}
        <div class="logo">
          <img src="{{ $.Site.BaseURL }}{{ . }}">
        </div>
      {{ end }}
    </div>
  </a>

  <div class="scrollable">
    <div class="wrapper">
      <div class="toc">
        {{ if gt (len .Site.Menus.main) 0 }}
        <ul>
          {{ partial "nav" . }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
