{{ partial "head" . }}

<div class="backdrop">
	<div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
	{{ partial "header" . }}
</header>

<main class="main">
        <div class="drawer">
                {{ partial "drawer" . }}
        </div>
	<article class="article">
		<div class="wrapper">
			{{ range where .Site.Pages "Type" "index" }}
				<h1>{{ .Title }}</h1>

				{{ .Content }}
			{{ end }}
		</div>
	</article>

</main>

